PORT=5000

# Ravion internal integration.
BINZU_INTERNAL_API_KEY=
RAVION_API_BASE_URL=https://ravion.web.id
RAVION_BUYER_GROUP_ID=120363409710035902@g.us
RAVION_BUYER_GROUP_INVITE_URL=https://chat.whatsapp.com/JLCtpfiyxR5CgJ6JAB9bqz
RAVION_DEVELOPER_NUMBER=6281212035575
